<!DOCTYPE html>
{% extends 'home.html' %}
{% load static %}
<html lang="pt-br">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Contador</title>
    
    <link rel="stylesheet" href="{% static 'css/calc/cont/cont.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/home/style.css' %}">    
</head>
{% endblock %}
<body>
    {% block h1 %}
    <h1>Vamos contar</h1>
    {% endblock %}

    {% block conteudo %}
    <main>
        <h1>Contador</h1>
        <section>
            <div class="quest">
                <p>
                    Início:
                    <input type="number" name="inicio" id="txtI">
                </p>
                <p>
                    Fim:
                    <input type="number" name="fim" id="txtF">
                </p>
                <p>
                    Passo:
                    <input type="number" name="passo" id="txtP">
                </p>
                <p>
                    <input type="button" value="Contar" onclick="contar()">
                </p>
            
                <div id="res">
                    Preencha os dados acima para ver o seu resultado!
                </div>
            </div>
        </section>

        <aside class="comentarios">
            <div>
                <h1>O que achou? Me fale aqui.</h1>
                <h4>Nome</h4>
                <input type="text" id="name" style="min-height: 20px;"><br>
                <h4>Email</h4>
                <input type="email" name="email" id="email" style="min-height: 20px;"><br>
                <h4>Comentarios</h4>
                <textarea name="coments" id="coments" cols="50" rows="10" maxlength="255"></textarea><br>
                <button id="button" onclick="" style="min-height: 50px; min-width: 50px;">Enviar</button>
            </div>
        </aside>

    <script src="{% static 'js/calc/cont/cont.js' %}"></script>
    <script class="enviar" type="module" src="{% static 'js/calc/cont/coments.js' %}"></script>
        </main>
    {% endblock%}
</body>
</html>