<!DOCTYPE html>
{% extends 'home.html'%}
{% load static %}
<html lang="pt-br">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech</title>
    <link rel="stylesheet" href="{% static 'css/tech/tech2.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/style.css' %}">
</head>
{% endblock %}
<body>
    {% block conteudo%}
    <main>
        <article>
            <div id="container" class="container">
                
            </div>
        </article>
    </main>
    <script type="module" src="{% static 'js/tech/tech0.js' %}"></script>
    {% endblock %}
</body>
</html>