@charset "UTF-8";

body{
    background-color: blue;
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

main{
    background: white;
    border-radius: 10px;
    padding: 15px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
    margin-top: 10px;
}
main > h1{  
    background-image: linear-gradient(to right, var(--cor2), #FFFF);
}

.quest{
    background-color: var(--cor0);
    display: inline-block;
    box-shadow: 0px 0px 3px 1px;
    margin: 30px 0px 30px 0px;
    padding: 10px;
}

.comentarios{
    background-color: var(--cor1);
    border-radius: 10px;
}
.comentarios div{
    margin-left: 10px;
    margin-bottom: 30px;
}